*
{
    margin: 0px;
    padding: 0px;
}
.flexbox{
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}
.flexele{
    height: 200px;
    width: 15%;
    background-color:red;
    margin: 30px;
}


.normal{
    width: 100%;
    background-color:green; 
}
.norele{
    height: 200px;
    width: 20%;
    background-color: gray;
    display: inline-block;
    margin: 30px;  
}


